<html>

<head>
    <meta charset="UTF-8">
    <link href="~/Content/Shopping_StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript.js" type="text/javascript"></script>
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="wrapper-block">
                <span class="nav"><p>Furniture Shop</p></span>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Hem</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Shop", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Shop</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("About", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Om oss</span>
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("Contact", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Kontakt</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Cart", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Varukorg</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- wrapper -->
        <div class="wrapper">
            <div class="clear"></div>
            <!-- items -->
            <div class="items">
                @foreach (var möbel in Model)
                {
                    if (möbel is OOPMöbler.Models.Soffa)
                    {
                        <!-- single item -->
                        <div class="item">
                            <img src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_1280.jpg" alt="item" />
                            <h2>Erik - Ikea - Grå</h2>
                            <h2>4 Sittplatser</h2>
                            <h2>Läder</h2>
                            <p>
                                Pris: <em>4599:-</em>
                            </p>
                            <form action="~/Home/Buy/@möbel.Id">
                                <button class="add-to-cart" type="submit">Lägg i varukorg</button>
                            </form>
                        </div>
                    }
                    if (möbel is OOPMöbler.Models.Stol)
                    {
                        <!-- single item -->
                        <div class="item">
                            <img src="https://cdn.pixabay.com/photo/2017/03/19/01/43/living-room-2155376_1280.jpg" alt="item" />
                            <h2>Sofia - Ikea - Svart</h2>
                            <h2>4 ben</h2>
                            <h2>2016</h2>
                            <p>
                                Pris: <em>229:-</em>
                            </p>
                            <form action="~/Home/Buy/@möbel.Id">
                                <button class="add-to-cart" type="submit">Lägg i varukorg</button>
                            </form>
                        </div>
                    }
                    if (möbel is OOPMöbler.Models.Bord)
                    {
                        <!-- single item -->
                        <div class="item">
                            <img src="https://cdn.pixabay.com/photo/2017/03/28/12/11/chairs-2181960_1280.jpg" alt="item" />
                            <h2>Fora - Ikea - Vit</h2>
                            <h2>4 ben</h2>
                            <h2>2017</h2>
                            <p>
                                Pris: <em>499:-</em>
                            </p>
                            <form action="~/Home/Buy/@möbel.Id">
                                <button class="add-to-cart" type="submit">Lägg i varukorg</button>
                            </form>
                        </div>
                    }
                }
             </div>
        </div>
        <div class="copyright">
            <p>© Copyright 2019 AVEXdev</p>
        </div>
                <div>
                    @RenderBody()
                </div>

</body>
</html>