<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Index_StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript.js" type="text/javascript"></script>
    <!-- Kod för index sidan, nav bar med länkar, med en bild i mitten och knapp för att även där ta sig till shoppen utöver nav knappen-->
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="wrapper-block">
                <span class="nav"><p>Furniture Shop</p></span>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Hem</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Shop", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Shop</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("About", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Om oss</span>
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("Contact", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Kontakt</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Cart", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                                <span>Varukorg</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="banner">
            <img src="~/Content/Images/couch.jpg" alt="img-banner">
            <div class="banner-wrapper">
                Vad letar du efter?
                <a href="@Url.Action("Shop", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                    <span>Möbler</span>
                </a>
            </div>
        </div>
        <footer class="footer">
            <p>AVEXdev 2019</p>
        </footer>
    </main>
    <div>
        @RenderBody()
    </div>
</body>
</html>
